@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");

:root {
  --clr-dark-gray: #2f312f;
  --clr-light-gray: #f5eae0;
  --clr-off-white: #eedbca;
  --clr-accent: #877e70;
  --clr-light-accent: #ac9b80;
  --clr-white: #ffffff;
}
.image {
  transition: transform 0.25s ease;
}

.image:hover {
  transform: scale(1.8);
  z-index: 20;
}
.body-product {
  display: flex;
  flex-wrap: wrap;
}
.main-content {
  width: 100vw;
  height: 100vh;
  padding-top: 69px;
}

.portfolio-grid {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
  border: 2px solid var(--clr-white);
}
.portfolio-item {
  background-color: var(--clr-dark-gray);
  color: var(--clr-off-white);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--clr-white);
}

.beds,
.stairs {
  grid-row: span 2;
  grid-column: span 2;
}
.beds {
  background-image: url(../img/products/bed.jpg);
}

.stairs {
  background-image: url(../img/products/stairs.JPG);
}
.doors {
  grid-row: span 3;
  grid-column: span 1;
  background-image: url(../img/products/door.jpg);
}

.kitchen {
  grid-row: span 3;
  grid-column: span 3;
  background-image: url(../img/kitchen.JPG);
}

.other {
  grid-row: span 3;
  grid-column: span 2;
  background-image: url(../img/products/armoire.jpg);
}

.tables {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url(../img/products/table.jpg);
}

.portfolio-item {
  background-size: cover;
  color: var(--clr-light-gray);
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.portfolio-item:hover {
  background-blend-mode: initial;
  background-position: center;
  cursor: auto;
}
.portfolio-item:hover a {
  background-color: rgba(44, 46, 44, 0.7);
  border-radius: 5px;
  padding: 10px;
  border-bottom: 3px solid var(--clr-accent);
}

.portfolio-item::before {
  content: "";
  display: block;
  background: var(--clr-dark-gray);
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item:hover::before {
  opacity: 0.2;
}

.portfolio-item a {
  text-decoration: none;
  color: var(--clr-off-white);
  width: 120px;
  text-align: center;
  font-size: 22px;
}

.section {
  width: 100vw;
  height: 75vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0 7vw;
  position: relative;
}

.section h2 {
  font-size: 38px;
  color: var(--clr-dark-gray);
}

.section p {
  width: 60%;
  font-size: 20px;
}

.gallery {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.image {
  width: 23%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.bed-section .item1 {
  background-image: url(../img/products/beds/DSC03319а.jpg);
}

.bed-section .item2 {
  background-image: url(../img/products/beds/2.jpg);
}

.bed-section .item3 {
  background-image: url(../img/products/beds/3.jpg);
}

.bed-section .item4 {
  background-image: url(../img/products/beds/4.jpg);
}

.kitchen-section .item1 {
  background-image: url(../img/products/kitchen/1.jpg);
}

.kitchen-section .item2 {
  background-image: url(../img/products/kitchen/2.jpg);
}

.kitchen-section .item3 {
  background-image: url(../img/products/kitchen/3.jpg);
}

.kitchen-section .item4 {
  background-image: url(../img/products/kitchen/4.jpg);
}

.stairs-section .item1 {
  background-image: url(../img/products/stairs/1.jpg);
}

.stairs-section .item2 {
  background-image: url(../img/products/stairs/2.jpg);
}

.stairs-section .item3 {
  background-image: url(../img/products/stairs/3.jpg);
}

.stairs-section .item4 {
  background-image: url(../img/products/stairs/4.jpg);
}

.doors-section .item1 {
  background-image: url(../img/products/door/0.jpg);
}

.doors-section .item2 {
  background-image: url(../img/products/door/1.jpg);
}

.doors-section .item3 {
  background-image: url(../img/products/door/2.jpg);
}

.doors-section .item4 {
  background-image: url(../img/products/door/3.jpg);
}

.other-section .item1 {
  background-image: url(../img/products/other/other1.jpg);
}

.other-section .item2 {
  background-image: url(../img/products/other/other2.jpg);
}

.other-section .item3 {
  background-image: url(../img/products/other/other3.jpg);
}

.other-section .item4 {
  background-image: url(../img/products/other/other4.jpg);
}

.tables-section .item1 {
  background-image: url(../img/products/tables/1.jpg);
}

.tables-section .item2 {
  background-image: url(../img/products/tables/2.jpg);
}

.tables-section .item3 {
  background-image: url(../img/products/tables/3.jpg);
}

.tables-section .item4 {
  background-image: url(../img/products/tables/4.jpg);
}

.bed-section,
.doors-section {
  background-color: var(--clr-light-gray);
}
.before {
  position: absolute;
  top: -68px;
}

.kitchen-section,
.other-section {
  background-color: var(--clr-off-white);
}

.stairs-section,
.tables-section {
  background-color: var(--clr-light-accent);
}

.up {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--clr-dark-gray);
  opacity: 50%;
  color: var(--clr-off-white);
  border-radius: 50%;
  position: fixed;
  font-size: 36pt;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

@media screen and (max-width: 800px) {
  .body-product {
    display: flex;
    flex-wrap: wrap;
  }
  .main-content {
    width: 100vw;
    height: 100vh;
    padding-top: 69px;
  }

  .portfolio-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .beds,
  .stairs,
  .doors,
  .kitchen,
  .other,
  .tables {
    grid-row: span 2;
    grid-column: span 3;
  }

  .section {
    height: 170vh;
    padding: 20px;
  }

  .section p {
    width: 90%;
    font-size: 20px;
  }

  .gallery {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
  }

  .image {
    width: 90%;
    /* height: auto; */
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    background-position: center;
  }

  .doors-section {
    height: 150vh;
  }

  .doors-section .image {
    height: 49%;
    width: 49%;
    justify-content: center;
    align-items: center;
    background-position: center;
  }
  .before {
    position: absolute;
    top: -68px;
  }

  .up {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--clr-dark-gray);
    opacity: 50%;
    color: var(--clr-off-white);
    border-radius: 50%;
    position: fixed;
    font-size: 36pt;
    right: 10px;
    bottom: 10px;
    z-index: 10;
  }
}
