@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark-gray: #2f312f;
  --clr-light-gray: #b4a896;
  --clr-off-white: #e2c7ad;
  --clr-accent: #877e70;
  --clr-light-accent: #ac9b80;
  --clr-white: #ffffff;
}

.services-all {
  padding-top: 70px;
  width: 80vw;
  height: 122vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.features {
  display: flex;
  flex-direction: column;
}
.features-item {
  height: 33vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-service {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-service img {
  height: 20vh;
}

.truck-img img {
  height: 30vh;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.item-text h3 {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--clr-dark-gray);
  font-size: 24pt;
  padding-bottom: 20px;
}

.item-text p {
  width: 70%;
  padding-top: 10px;
  text-indent: 30px;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--clr-dark-gray);
  font-size: 36pt;
}

.truck {
  animation: lightSpeedInLeft 2s;
}

.instal {
  animation: swing 2s ease;
}

.renovate {
  animation: fadeIn 2s ease;
}
