@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark-gray: #2f312f;
  --clr-light-gray: #b4a896;
  --clr-off-white: #e2c7ad;
  --clr-accent: #877e70;
  --clr-light-accent: #ac9b80;
  --clr-white: #ffffff;
}

.services-all {
  padding-top: 80px;
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.features {
  display: flex;
  flex-direction: column;
}
.features-item {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-service {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-service img {
  width: 50%;
}

.truck-img img {
  width: 60%;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.item-text h3 {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--clr-dark-gray);
  font-size: 24pt;
  padding-bottom: 20px;
}

.item-text p {
  width: 70%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-indent: 30px;
  font-size: 18px;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--clr-dark-gray);
  font-size: 36pt;
}

.truck {
  animation: lightSpeedInLeft 2s;
}

.instal {
  animation: swing 2s ease;
}

.renovate {
  animation: fadeIn 2s ease;
}

@media screen and (max-width: 1400px) {
  .services-all {
    width: 90vw;
  }

  .item-text p {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .services-all {
    width: 100vw;
  }
  .image-service {
    width: 40%;
  }
  .image-service img {
    width: 80%;
  }
  .item-text {
    width: 60%;
  }
  .item-text p {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .services-all {
    width: 100vw;
  }
  .features-item {
    flex-direction: column;
  }
  .image-service {
    width: 60%;
  }
  .image-service img {
    width: 80%;
  }
  .item-text {
    width: 100%;
  }
  .item-text p {
    width: 95%;
  }
  .inst {
    flex-direction: column-reverse;
  }
  .truck-img img {
    width: 100%;
  }
}
