@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --clr-dark-gray: #2f312f;
  --clr-light-gray: #b4a896;
  --clr-off-white: #e2c7ad;
  --clr-accent: #877e70;
  --clr-light-accent: #ac9b80;
  --clr-white: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
}
.logo-title {
  display: flex;
  align-items: center;
}
/* header {
  position: relative;
}
.logo {
  position: absolute;
  z-index: 110;
  top: 5px;
  left: 60px;
} */
.logo > img {
  width: 50px;
  height: auto;
}

.nav-toggle {
  display: none;
}
nav {
  background-color: rgb(44, 46, 44);
  color: var(--clr-off-white);
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  font-family: "Noto Sans JP", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 18pt;
  width: 40%;
  justify-content: space-around;
}

.nav-list li {
  position: relative;
}

.nav-list li::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: var(--clr-accent);
  height: 3px;
  left: 0;
  bottom: -5px;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-list li:hover::after {
  transform: scaleX(1);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-off-white);
}

.nav-list a:hover {
  color: var(--clr-accent);
}

.hero {
  background-image: url(../img/kitchen.JPG);
  background-size: cover;
  background-color: #808381;
  background-blend-mode: multiply;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36pt;
  text-shadow: 2px 2px 5px var(--clr-dark-gray);
}

.hero h3 {
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 30px;
  font-size: 20pt;
  text-shadow: 2px 2px 5px var(--clr-dark-gray);
}

.hero h1,
.hero h3,
.intro {
  animation: fadeIn 4s ease;
}

footer {
  background-color: var(--clr-dark-gray);
  color: var(--clr-off-white);
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .counter {
  width: 88;
  height: 120;
} */
/* home page elements */

.intro {
  color: var(--clr-off-white);
  border: 3px solid var(--clr-off-white);
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--clr-dark-gray);
  font-size: 36pt;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--clr-dark-gray);
}
.features-item i {
  font-size: 36pt;
  text-align: center;
  padding-bottom: 40px;
}

.features-item > i:hover {
  animation: flip 2s ease;
}

.hard-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #808381;
  background-blend-mode: multiply;
  background-image: url(../img/hard-work-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.hard-work h2 {
  color: var(--clr-off-white);
}

.customers-wrap {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 50vh;
  margin: auto;
}

.cust {
  width: 20vw;
  display: flex;
  justify-content: center;
}

.cust img {
  width: 50%;
  height: auto;
}

/*smaller screens than 1300*/

@media screen and (max-width: 1400px) {
  .nav-list {
    width: 60%;
  }
  nav {
    padding: 5px;
  }
  .logo img {
    width: 40px;
    margin-right: 10px;
  }
  .hero {
    background-position: center;
  }

  .intro {
    width: fit-content;
    height: fit-content;
    padding: 40px 20px;
    text-align: center;
  }
  .advantages {
    height: fit-content;
    margin: 40px auto;
  }
  .customers-wrap {
    width: 90vw;
    height: fit-content;
    padding: 10px;
    justify-content: center;
  }
  .customers {
    justify-content: center;
    height: fit-content;
  }
}

@media screen and (max-width: 800px) {
  .nav-toggle {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: var(--clr-off-white);
    height: 2px;
    width: 2em;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }
  .nav-toggle-label span::after {
    top: 7px;
  }
  .nav-list {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgba(59, 65, 60, 0.7);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 400ms ease-in-out;
    flex-direction: column;
  }

  .nav-toggle:checked ~ .nav-list {
    transform: scale(1, 1);
  }
  .nav-toggle:checked ~ .nav-list a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .nav-list li {
    width: fit-content;
    margin: 10px 20px;
  }
  .hero {
    background-position: center;
  }

  .intro {
    width: 90%;
    height: fit-content;
    text-align: center;
  }

  .advantages {
    width: 90vw;
  }

  h2 {
    font-size: 28pt;
    text-align: center;
  }

  .features {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 0px;
    width: fit-content;
    margin: 0 auto;
  }

  .features-item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  .features-item i {
    padding-bottom: 0px;
    margin-right: 20px;
  }

  .hard-work h2 {
    text-align: center;
  }

  .customers-wrap {
    padding: 10px;
  }

  .customers-wrap h2 {
    margin-bottom: 20px;
    justify-content: center;
  }

  .customers {
    width: 95%;
    /* margin: auto; */
    justify-content: center;
  }

  .cust {
    width: 44%;
    margin: 10px auto;
  }
  .cust img {
    width: 70%;
    margin: auto;
  }
}
